MONGO_URI=mongodb://localhost:27017/
MONGO_DB_NAME=user_database
MONGO_COLLECTION_NAME=users

JWT_SECRET_KEY=your-secret-here
ACCESS_TOKEN_EXPIRE_HOURS=1

GCP_API_KEY=your-gcp-key-here
GEMINI_MODEL_NAME=gemini-2.5-flash

PINECONE_API_KEY=your-pinecone-key-here
PINECONE_INDEX_NAME=laptop-store-gemini
PINECONE_NAMESPACE=brochure
EMBEDDING_MODEL_NAME=models/text-embedding-004
EMBEDDING_DIMENSION=768